<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U BORROW U</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Style.css">
</head>

<body class="">
    <main class="position-absolute top-50 start-50 translate-middle">
        <div class="card">
            <div class="card-body "><br>
                <form class="m-2">
                    <p class="fw-bold fs-4">
                        สมัครสมาชิก
                    </p>
                    <div class="mb-3 row">
                        <div class="col">
                            <input type="text" class="form-control rounded-pill" id="#" placeholder="ชื่อ">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control rounded-pill" id="#" placeholder="นามสกุล">
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control rounded-pill" placeholder="คณะ">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control rounded-pill" placeholder="สาขา">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control rounded-pill" id="#" placeholder="แขนง">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control rounded-pill" id="#" placeholder="อีเมลล์">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control rounded-pill" id="#" placeholder="รหัสผ่าน">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-dark rounded-pill">Register</button>
                        <a href="#" class="btn btn-outline-secondary rounded-pill">Login</a>
                    </div><br>
                </form>
            </div>
        </div>
    </main>
</body>

</html>