{% extends 'home.html' %}
{% block main %}

<div class="container-lg mt-1 mb-5">
    <div class="card">
        <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src="/static/california.png" id="main_product_image" width="500">
                    </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            <li><img onclick="changeImage(this)" src="/static/california.png" width="70"></li>
                            <li><img onclick="changeImage(this)" src="/static/california.png" width="70"></li>
                            <li><img onclick="changeImage(this)" src="/static/california.png" width="70"></li>
                            <li><img onclick="changeImage(this)" src="/static/california.png" width="70"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>Macbook Air M2</h3>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2">หมายเลขทะเบียน</label>
                        <p>00000001</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2">หมวดหมู่</label>
                        <p>คอมพิวเตอร์</p>
                    </div>
                    <div class="d-flex">
                        <label class="labels px-2">ประเภท</label>
                        <p>ต้องคืน</p>
                    </div>
                    <div class="d-flex text-success">
                        <label class="labels px-2">คงเหลือ</label>
                        <p>2 เครื่อง</p>
                    </div>
                    <div class="d-flex flex-row  gap-3">
                        <a href="{% url 'user_cart' %}">
                            <button class="btn btn-outline-dark rounded-pill">
                                ยืมตอนนี้
                            </button>
                        </a>
                        <a href="{% url 'user_cart' %}">
                            <button class="btn btn-dark rounded-pill">
                                เพิ่มลงตะกร้า
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white rounded-2 my-2 p-5 ">
        <h5>รายละเอียด</h5>
        <hr>
        <p>ชิป M2 พร้อมประสิทธิภาพด้าน CPU, GPU และการเรียนรู้ของระบบเจเนอเรชั่นถัดไป
            CPU แบบ 8-core และ GPU สูงสุดแบบ 10-core ที่เร็วขึ้นให้คุณจัดการกับงานที่ซับซ้อนได้อยู่หมัด2
            Neural Engine แบบ 16-core เพื่องานด้านการเรียนรู้ของระบบสุดล้ำ
        </p>
        <br><br>
        <h5>รายละเอียดเชิงเทคนิค</h5>
        <hr>
        <div class="d-flex">
            <label class="labels px-2">ซ่อมครั้งล่าสุด</label>
            <p>17 สิงหาคม 2565</p>
        </div>
        <div class="d-flex">
            <label class="labels px-2">จำนวนครั้งที่ซ่อม</label>
            <p>1 ครั้ง</p>
        </div>
        <div class="d-flex">
            <label class="labels px-2">อายุของพัสดุ</label>
            <p>1 ปี 1 เดือน</p>
        </div>
    </div>

    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between ">
            <div>
                <h5 class="">รายการแนะนำ</h5>
            </div>
            <div>
                <a class="text-muted">ดูรายการทั้งหมด</a>
            </div>
        </div>
        <hr>
        <div class="row small">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="card border">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="/static/california.png" class="w-100"  />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title text-dark">Macbook Air M2</h5>
                            <span class="mb-4 text-success">พร้อมยืม</span>
                            <a href="{% url 'user_detail' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class=" card border">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="/static/california.png" class="w-100"  />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Macbook Air M2</h5>
                            <span class="mb-4 text-success">พร้อมยืม</span>
                            <a href="{% url 'user_detail' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="card border">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="/static/california.png" class="w-100"  />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title text-dark">Macbook Air M2</h5>
                            <span class="mb-4 text-success">พร้อมยืม</span>
                            <a href="{% url 'user_detail' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class=" card border">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="/static/california.png" class="w-100"  />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Macbook Air M2</h5>
                            <span class="mb-4 text-success">พร้อมยืม</span>
                            <a href="{% url 'user_detail' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="card border">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="/static/california.png" class="w-100"  />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title text-dark">Macbook Air M2</h5>
                            <span class="mb-4 text-success">พร้อมยืม</span>
                            <a href="{% url 'user_detail' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class=" card border">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="/static/california.png" class="w-100"  />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Macbook Air M2</h5>
                            <span class="mb-4 text-success">พร้อมยืม</span>
                            <a href="{% url 'user_detail' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex">
        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 mb-4">
            <div class=" card ">
                <div class="bg-image" data-mdb-ripple-color="light">
                    <img src="/static/california.png" class="w-100" />
                </div>
                <div class="card-body small">
                    <div class="text-center">
                        <h5 class="card-title">Macbook Air M2</h5>
                        <span class="mb-4 text-success">พร้อมยืม</span>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>ประเภท</span><span>ต้องคืน</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}