{% extends 'home.html' %} 
{% block main %}

    <div class="container mt-1 p-3 rounded-2 cart bg-white">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="product-details mr-2">
                    <div class="d-flex flex-row align-items-center"><span
                            class="ml-2 fw-bold fs-5">รายการยืม</span></div>
                    <hr>
                    <h6 class="mb-0">รายการทั้งหมด</h6>
                    <div class="d-flex ">
                        <span class="text-muted small">คุณมีทั้งหมด 4 รายการ</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded-2 ">
                        <div class="d-flex flex-row">
                            <img class="rounded me-2" src="/static/california.png" width="50">
                            <div class="ml-2"><span class="font-weight-bold d-block">Macbook Air M2</span>
                                <span class="small text-muted" name="spac">รายละเอียด</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center ">
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">-</span>
                            <span class="d-block px-3">2</span>
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">+</span>
                            <img class="ms-4 "
                                src="https://img.icons8.com/external-free-is-layf-royyan-wijaya/24/000000/external-bin-revamp-3-free-is-layf-royyan-wijaya-2.png" />
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded-2 ">
                        <div class="d-flex flex-row">
                            <img class="rounded me-2" src="/static/california.png" width="50">
                            <div class="ml-2"><span class="font-weight-bold d-block">Macbook Air M2</span>
                                <span class="small text-muted" name="spac">รายละเอียด</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center ">
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">-</span>
                            <span class="d-block px-3">2</span>
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">+</span>
                            <img class="ms-4 "
                                src="https://img.icons8.com/external-free-is-layf-royyan-wijaya/24/000000/external-bin-revamp-3-free-is-layf-royyan-wijaya-2.png" />
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded-2 ">
                        <div class="d-flex flex-row">
                            <img class="rounded me-2" src="/static/california.png" width="50">
                            <div class="ml-2"><span class="font-weight-bold d-block">Macbook Air M2</span>
                                <span class="small text-muted" name="spac">รายละเอียด</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center ">
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">-</span>
                            <span class="d-block px-3">2</span>
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">+</span>
                            <img class="ms-4 "
                                src="https://img.icons8.com/external-free-is-layf-royyan-wijaya/24/000000/external-bin-revamp-3-free-is-layf-royyan-wijaya-2.png" />
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded-2 ">
                        <div class="d-flex flex-row">
                            <img class="rounded me-2" src="/static/california.png" width="50">
                            <div class="ml-2"><span class="font-weight-bold d-block">Macbook Air M2</span>
                                <span class="small text-muted" name="spac">รายละเอียด</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center ">
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">-</span>
                            <span class="d-block px-3">2</span>
                            <span class="d-block btn btn-outline-secondary btn-sm px-2 ">+</span>
                            <img class="ms-4 "
                                src="https://img.icons8.com/external-free-is-layf-royyan-wijaya/24/000000/external-bin-revamp-3-free-is-layf-royyan-wijaya-2.png" />
                        </div>
                    </div>
                    <hr>
                </div>
            </div>


            <div class="col-md-4">
                <div class="">
                    <div class="d-flex justify-content-between align-items-center my-3">
                        <span class="fw-bold">ทำรายการ</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><label class="credit-card-label">วันที่ยืม</label><input type="date"
                                class="form-control credit-inputs" placeholder="12/24"></div>
                        <div class="col-md-6"><label class="credit-card-label">วันที่คืน</label><input type="date"
                                class="form-control credit-inputs" placeholder="342"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">รายละเอียดการยืม</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="เหตุผลในการยืม"></textarea>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between ">
                        <span>ทั้งหมด</span>
                        <span>8 ชิ้น</span>
                    </div>
                    <a class="btn btn-success rounded-pill btn-block d-flex justify-content-between mt-3" type="button" href="{% url 'user_borrowed' %}">
                        ยืมพัสดุ-ครุภัณฑ์
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}