{% extends 'homestaff.html' %}
{% block main %}



    <div class="container rounded bg-white mt-1 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        src="/static/profile.png" width="90">
                    <span class="font-weight-bold">สมไชย ศรีอุบล</span>
                    <span class="text-black-50">somchai.sr.63@ubu.ac.th</span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-right fs-5 fw-bold">ข้อมูลส่วนตัว</p>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                                <label class="labels">ชื่อ</label>
                                <input type="text" class="form-control rounded-pill" placeholder="ชื่อ" value="สมไชย" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="labels">นามสกุล</label>
                                <input type="text" class="form-control  rounded-pill" value="ศรีอุบล" placeholder="นามสกุล" disabled>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="labels">อีเมลล์</label>
                                <input type="email" class="form-control rounded-pill" placeholder="อีเมลล์" value="somchai.sr.63@ubu.ac.th" disabled>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <a class="btn btn-outline-warning text-black profile-button  rounded-pill" type="button" href="/staff_personal_info_edit">
                                แก้ไขข้อมูลส่วนตัว
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex">
                            <p class="fs-5 fw-bold">การเชื่อมต่อ</p>
                        </div>
                        <div class="d-flex flex-row mt-3 exp-container">
                            <img src="https://img.icons8.com/color/48/000000/line-me.png" width="60" height="60">
                            <div class="work-experience ml-1 mx-2">
                                <span class="font-weight-bold d-block">
                                    Line
                                </span>
                                <a class="d-block text-black-50 labels" href="#">
                                    เชื่อมต่อ
                                </a>

                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                {% endblock %} 