{% extends 'homestaff.html' %}
{% block main %}

    <div class=" container">
        <div class="bg-white rounded-2 mb-4 px-5 py-3">
            <div class="d-flex justify-content-between ">
                <div>
                    <h5 class="fw-bold">รายงานการยืมพัสดุทั้งหมด</h5>
                </div>
                <div>
                    <a class="btn btn-outline-dark rounded-pill">PDF</a>
                </div>
            </div>
            <div class="d-flex row rounded-2 small fw-bold justify-content-between mt-2">
                <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                    <div class="align-items-center">
                        <span>เรียงโดย</span>
                        <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ล่าสุด</div>
                    </div>
                    <div class="align-items-center">
                        <div class="d-flex flex-row align-items-center">
                            <label class="fw-bold me-2" id="dropdownMenu">แสดง</label>
                            <select class="form-select border-0" aria-label="dropdownMenu">
                                <option selected value="1">20</option>
                                <option value="2">28</option>
                                <option value="3">36</option>
                                <option value="4">52</option>
                                <option value="5">100</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2 border-dark" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row mt-3  mx-5">
                <table class="table">
                    <thead >
                        <tr>
                            <th class="col-md-3" scope="col">ผู้ยืม</th>
                            <th class="col-md-5" scope="col">อีเมลล์</th>
                            <th class="col-md-2 text-center" scope="col">จำนวนครั้ง</th>
                            <th class="col-md-2 text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="xTable">
                        <tr class="qrow text-center">
                            <td><p class="text-start">นายวรพล สุนทร</p></td>
                            <td><p class="text-start">worapon.sr.63@ubu.ac.th</p></td>
                            <td>2</td>
                            <td><a class="btn btn-warning rounded-pill badge" href="/staff_report_borrowReport/">รายละเอียด</a></td>
                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>
        </div>
        {% endblock %} 