{% extends 'homestaff.html' %}
{% block main %}


<div class=" container">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <!-- จัดการพัสดุ-ครุภัณฑ์ -->
        <div class="d-flex justify-content-between rounded-2 align-items-center">
            <div>
                <h5 class="fw-bold">จัดการพัสดุ</h5>
            </div>
            <div class="d-flex flex-row">
                <div class="dropdown">
                    <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        ตัวเลือกการแสดงผล
                    </button>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                        <div class="nav">
                            <li><a class="dropdown-item active " data-bs-toggle="tab" href="#matrix">เมทริก</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="tab" href="#list">ยาว</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="tab" href="#table">ตาราง</a></li>
                        </div>
                    </ul>
                </div>
                <a class="btn btn-outline-dark rounded-pill ms-2" data-bs-toggle="modal"
                    data-bs-target="#additem">เพิ่มรายการ</a>
            </div>
        </div>
        <div class="d-flex row rounded-2 small fw-bold justify-content-between mt-1">
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="align-items-center">
                    <span>เรียงโดย</span>
                    <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ล่าสุด</div>
                </div>
                <div class="align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <label class="fw-bold me-2" id="dropdownMenu">แสดง</label>
                        <select class="form-select border-0" aria-label="dropdownMenu">
                            <option selected value="1">20</option>
                            <option value="2">28</option>
                            <option value="3">36</option>
                            <option value="4">52</option>
                            <option value="5">100</option>
                        </select>
                    </div>
                </div>
                <div class="align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <label class="fw-bold me-2" id="dropdownMenu">หมวด</label>
                        <select class="form-select border-0" aria-label="dropdownMenu">
                            <option selected>เลือก</option>
                            <option value="1">อุปกรณ์สื่อสาร</option>
                            <option value="2">โดรน</option>
                            <option value="3">คอมพิวเตอร์</option>
                            <option value="4">IoT</option>
                        </select>
                    </div>
                </div>
                <div class="align-items-center">
                    <div class="d-flex flex-row align-items-center">
                        <label class="fw-bold me-2" id="dropdownMenu">สถานะ</label>
                        <select class="form-select border-0" aria-label="dropdownMenu">
                            <option selected>ทั้งหมด</option>
                            <option value="1">พัสดุ</option>
                            <option value="2">ครุภัณฑ์</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 border-dark" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
        <!-- เพิ่มรายการ -->
        <div class="modal fade" id="additem" tabindex="-1" aria-labelledby="additemModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="additemModal">เพิ่มรายการ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col">
                                <input type="text" class="form-control rounded-pill" id="#" placeholder="ชื่อ">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <select class="form-select rounded-pill" aria-label="Default select example">
                                    <option selected class="text-muted">หมวดหมู่</option>
                                    <option value="อุปกรณ์สือสาร">อุปกรณ์สือสาร</option>
                                    <option value="โดรน">โดรน</option>
                                    <option value="คอมพิวเตอร์">คอมพิวเตอร์</option>
                                    <option value="IoT">IoT</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select rounded-pill">
                                    <option selected>ประเภท</option>
                                    <option value="ต้องคืน">ต้องคืน</option>
                                    <option value="ต้องคืน">ต้องคืน</option>>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <input type="number" class="col form-control rounded-pill" placeholder="จำนวน">
                            </div>
                            <div class="col">
                                <input type="number" class="col form-control rounded-pill"
                                    placeholder="กำหนดระยะเวลาในการยืม(วัน)">
                            </div>

                        </div>
                        <div class="col-md-12">
                            <label class="labels">รายละเอียด</label>
                            <textarea class="form-control rounded-4" id="exampleFormControlTextarea1"
                                rows="3"></textarea>
                        </div>
                        <div>
                            <label for="formFileMultiple" class="form-label">เพิ่มรูปภาพ</label>
                            <input class="form-control rounded-pill" type="file" id="formFileMultiple" multiple />
                        </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-pill"
                            data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="button" class="btn btn-warning rounded-pill">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane  fade" id="table">
                <!-- แบบtable -->
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="col-md-4" scope="col">รายการ</th>
                            <th class="col-md-2 text-center" scope="col">หมวดหมู่</th>
                            <th class="col-md-2 text-center" scope="col">ประเภท</th>
                            <th class="col-md-2 text-center" scope="col">วันที่เพิ่มเข้าสู่ระบบ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="xTable">
                        <tr class="qrow text-center">
                            <td>
                                <a class="rounded-pill align-items-center p-2" href="#"><i
                                        class="bi bi-trash text-black"></i></a>
                            </td>
                            <td>
                                <p class="text-start">MacBook Air M1</p>
                            </td>
                            <td>
                                <p>คอมพิวเตอร์</p>
                            </td>
                            <td>
                                <p>ต้องคืน</p>
                            </td>
                            <td>
                                <p class="">12/06/2022</p>
                            </td>
                            <td>
                                <a class="rounded-pill align-items-center p-2" href="#"><i
                                        class="bi bi-pencil-square text-black"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane  fade" id="list">
                <!-- แบบยาว -->
                <div class="container mt-3 p-3 mb-2 rounded-2 border cart bg-white">
                    <div class="d-flex align-items-center p-2">
                        <div class="d-flex flex-row">
                            <img class="rounded me-4" src="/static/california.png" width="150" height="150">
                            <div class="">
                                <div class="fs-5">Macbook Air M2</div>
                                <div class="text-success">พร้อมยืม</div>
                                <div class="small">
                                    <div class="d-flex">
                                        <span>วันที่เพิ่มเข้าระบบ</span><span class="ms-2">12/06/2022</span>
                                    </div>
                                    <div class="d-flex">
                                        <span>หมวดหมู่</span><span class="ms-2">คอมพิวเตอร์</span>
                                    </div>
                                    <div class="d-flex">
                                        <span>ประเภท</span><span class="ms-2">ต้องคืน</span>
                                    </div>
                                    <div>
                                        <a class="rounded-pill align-items-center p-2" href="#"><i
                                                class="bi bi-trash text-black"></i></a>
                                        <a class="rounded-pill align-items-center p-2" href="#"><i
                                                class="bi bi-pencil-square text-black"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-3 p-3 mb-2 rounded-2 border cart bg-white">
                    <div class="d-flex align-items-center p-2">
                        <div class="d-flex flex-row">
                            <img class="rounded me-4" src="/static/california.png" width="150" height="150">
                            <div class="">
                                <div class="fs-5">Macbook Air M2</div>
                                <div class="text-success">พร้อมยืม</div>
                                <div class="small">
                                    <div class="d-flex">
                                        <span>วันที่เพิ่มเข้าระบบ</span><span class="ms-2">12/06/2022</span>
                                    </div>
                                    <div class="d-flex">
                                        <span>หมวดหมู่</span><span class="ms-2">คอมพิวเตอร์</span>
                                    </div>
                                    <div class="d-flex">
                                        <span>ประเภท</span><span class="ms-2">ต้องคืน</span>
                                    </div>
                                    <div>
                                        <a class="rounded-pill align-items-center p-2" href="#"><i
                                                class="bi bi-trash text-black"></i></a>
                                        <a class="rounded-pill align-items-center p-2" href="#"><i
                                                class="bi bi-pencil-square text-black"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="tab-pane  active" id="matrix">
                <div class="row small">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>วันที่เพิ่มเข้าระบบ</span><span>12/06/2022</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class=" card border">
                            <div class="bg-image" data-mdb-ripple-color="light">
                                <img src="/static/california.png" class="w-100" />
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-trash text-black"></i></a>
                                    <a class=" rounded-pill align-items-center p-2" href="#"><i
                                            class="bi bi-pencil-square text-black"></i></a>
                                </div>
                                <div class="text-center">
                                    <span class="card-title fs-5">Macbook Air M2</span><br>
                                    <span class="mb-4 text-success">พร้อมยืม</span>
                                </div>
                                <div class="d-flex justify-content-between ">
                                    <span>หมายเลขทะเบียน</span><span>35436561</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>หมวดหมู่</span><span>คอมพิวเตอร์</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>ประเภท</span><span>ต้องคืน</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}