{% extends 'homestaff.html' %}
{% block main %}



    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        src="/static/profile.png" width="90">
                    <span class="font-weight-bold">สมไชย ศรีอุบล</span>
                    <span class="text-black-50">somchai.sr.63@ubu.ac.th</span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="text-right fs-5 fw-bold">แก้ไขข้อมูลส่วนตัว</p>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">ชื่อ</label>
                            <input type="text" class="form-control rounded-pill" placeholder="ชื่อ" value="สมไชย">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">นามสกุล</label>
                            <input type="text" class="form-control rounded-pill" value="ศรีอุบล" placeholder="นามสกุล">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">อีเมลล์</label>
                            <input type="email" class="form-control rounded-pill" placeholder="อีเมลล์"
                                value="somchai.sr.63@ubu.ac.th">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <a class="btn btn-warning text-black profile-button rounded-pill" type="button" href="/staff_personal_info">
                            ยืนยันการแก้ไข
                        </a>
                    </div>
                </div>
            </div>
            {% endblock %} 