{% extends 'homestaff.html' %}
{% block main %}

    <div class=" container">
        <div class="bg-white rounded-2 mb-4 px-5 py-3">
            <div class="d-flex justify-content-between ">
                <div>
                    <h5 class="fw-bold">ข้อมูลการแนะนำพัสดุเข้าสู่ระบบ</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="d-flex col-md-5 ">
                    <div class="d-flex"><span>ผู้แนะนำ</span> &nbsp <span class="text-muted">นายวรพล สุนทร</span></div>
                </div>
                <div class="d-flex col-md-5 ">
                    <div class="d-flex"><span>วันที่แนะนำ</span> &nbsp <span class="text-muted">17/06/2565</span></div>
                </div>
                <div class="d-flex col-md-5 ">
                    <div class="d-flex"><span>ลิงก์พัสดุ</span> &nbsp <span class="text-muted">https://www.apple.com/th/</span></div>
                </div>
                <div class="d-flex col-md-5 ">
                    <div class="d-flex "><span>รายละเอียด</span> &nbsp <span class="text-muted">ต้องการใช้เพื่อทำ project จบการศึกษา</span></div>
                </div>
                <div class="d-flex col-md-5 ">
                    <div class="d-flex "><span>ยืมครั้งล่าสุด</span> &nbsp <span class="text-muted">22/9/2001</span></div>
                </div>
                <div class="d-flex col-md-5 ">
                    <div class="d-flex "><span>อีเมลล์</span> &nbsp <span class="text-muted">somchai.sa.63@ubu.ac.th</span></div>
                </div>
                <div class="d-flex col-md-5 ">
                    <div class="d-flex "><span>สถานะ</span> &nbsp <span class="text-muted">ดำเนินการเสร็จสิ้น</span></div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-between ">
                <div>
                    <h5 class="">ข้อมูลการแนะนำพัสดุเข้าสู่ระบบ</h5>
                </div>
            </div>
            <hr>
            <div class="row mt-3  mx-5">
                <table class="table">
                    <thead >
                        <tr>
                            <th class="col-md-4" scope="col">พัสดุ</th>
                            <th class="col-md-1 text-center" scope="col">หมวดหมู่</th>
                            <th class="col-md-1 text-center" scope="col">ยี่ห้อ</th>
                            <th class="col-md-1 text-center" scope="col">จำนวน</th>
                            <th class="col-md-1 text-center" scope="col">ราคา</th>
                        </tr>
                    </thead>
                    <tbody id="xTable">
                        <tr class="qrow text-center">
                            <td><p class="text-start">MacBook Air M1</p></td>
                            <td><p>คอมพิวเตอร์</p></td>
                            <td><p>apple</p></td>
                            <td><p>1</p></td>
                            <td><p>34,000</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>    
        {% endblock %} 