<nav class="navbar navbar-expand-lg bg-warning shadow-lg ">
    <div class="container-fluid">
        <a class="navbar-brand text-black fw-bold fs-4 px-5" href="/staff_index_borrow">U BORROW U</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active fs-6" aria-current="page" href="/staff_report">หน้าหลัก</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        ยืม-คืน
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/staff_index_borrow">รออนุมัติการยืม</a></li>
                        <li><a class="dropdown-item" href="/staff_index_borrownow">กำลังยืม</a></li>
                        <li><a class="dropdown-item" href="/staff_index_return">รออนุมัติการคืน</a></li>
                        <li><a class="dropdown-item" href="/staff_borrowing_history_detail">ประวัติการยืม-คืน</a></li>
                        <li><a class="dropdown-item" href="/staff_introduction">แนะนำพัสดุ</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        จัดการรายการ
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/staff_manage_parcel">พัสดุ</a></li>
                        <li><a class="dropdown-item" href="/staff_manage_durable">ครุภัณฑ์</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-6" aria-current="page" href="/staff_setting">การตั้งค่า</a>
                </li>
            </ul>
            

            <div class="nav-item dropdown mx-2 ">
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='fas fa-bell text-black' style='font-size:40px'></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <p class="card-title" style="font-size:16px">อีก 2 วัน
                                จะสิ้นสุดการยืม</p>
                            <p class="card-subtitle" style="font-size:12px">รายละเอียด</p>
                            <p class="text-muted " style="font-size:8px">17/09/2022 8.00 am</p>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <p class="card-title" style="font-size:16px">กรุณาไปรับ Macbook Air
                                M2</p>
                            <p class="card-subtitle" style="font-size:12px">รายละเอียด</p>
                            <p class="text-muted " style="font-size:8px">12/09/2022 1.29 pm</p>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <p class="card-title" style="font-size:16px">ยืนยันการจอง Macbook
                                Air M2</p>
                            <p class="card-subtitle" style="font-size:12px">รายละเอียด</p>
                            <p class="text-muted " style="font-size:8px">12/09/2022 9.13 am</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-item dropdown me-5 ms-3 ">
                <a class="text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    วันเจริญ
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end my-2">
                    <li><a class="dropdown-item" href="/staff_personal_info">ข้อมูลส่วนตัว</a></li>
                    <li><a class="dropdown-item" href="#">จัดการการแจ้งเตือน</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/login">ออกจากระบบ</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>