{% extends 'homeAdmin.html' %}
{% block main %}
{% load static %}
<div class=" container  ">
    <div class="bg-white rounded-2 mb-4 px-5 py-3">
        <div class="d-flex justify-content-between justify-content: right;"></div>

        <div class="">
            <div class="bg-white rounded-2 mb-4 px-5 py-3">
                <div class="d-flex justify-content-between row">
                    <div class="col-md-12 col-lg-6">
                        <h5 class="fw-bold">ข้อมูลเจ้าหน้าที่</h5>
                    </div>
                    <div class="d-flex flex-row col-md-12 col-lg-6 justify-content-end">
                        <div>
                            <a class="btn btn-outline-dark rounded-pill ms-2" data-bs-toggle="modal"
                                data-bs-target="#adduser">เพิ่มเจ้าหน้าที่</a>
                        </div>
                    </div>
                    <!-- เพิ่มเเจ้าหน้าที่ -->
                    <div class="modal fade" id="adduser" tabindex="-1" aria-labelledby="adduserModal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="adduserModal">เพิ่มเจ้าหน้าที่ </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <div class="col">
                                            <input type="text" class="form-control rounded-pill" id="#"
                                                placeholder="อีเมล">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col">
                                            <input type="password" class="form-control rounded-pill" id="#"
                                                placeholder="รหัสผ่าน">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col">
                                            <input type="password" class="form-control rounded-pill" id="#"
                                                placeholder="ยืนยันรหัสผ่าน">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary rounded-pill"
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                    <button type="button" class="btn btn-warning rounded-pill">ยืนยัน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex row rounded-2 small fw-bold justify-content-between mt-2">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="-flex flex-row align-items-center ">
                            <span>เรียงโดย</span>
                            <div class="px-2 me-2 btn btn-outline-dark border-0 rounded-pill">ล่าสุด</div>
                        </div>
                        <div class="align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <label class="fw-bold me-2" id="dropdownMenu">แสดง</label>
                                <select class="form-select border-0" aria-label="dropdownMenu">
                                    <option selected value="1">20</option>
                                    <option value="2">28</option>
                                    <option value="3">36</option>
                                    <option value="4">52</option>
                                    <option value="5">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 border-dark" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <hr>

                <div class="bg-white rounded-2 mb-4 px-2 py-3">
                    <div class="row mt-3  mx-5">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-start" scope="col"></th>
                                    <th class="col-md-3 text-center" scope="col">ชื่อ-นามสกุล</th>
                                    <th class="col-md-2 text-center" scope="col">สถานะ</th>
                                    <th class="col-md-3 text-center" scope="col">ใช้งานล่าสุด</th>
                                    <th class="col-md-3 text-center" scope="col">อีเมลล์</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="xTable">
                                <tr class="qrow text-center">
                                    <td><span href="#" class="btn fa fa-trash" value="Delete" data-bs-toggle="modal"
                                            data-bs-target="#Delete"></span></td>
                                    <td>
                                        <p>สมศรี สุนทร</p>
                                    </td>
                                    <td>
                                        <p>ผู้เจ้่าหน้าที่</p>
                                    </td>
                                    <td>
                                        <p>18 June 2020, 11:46PM</p>
                                    </td>
                                    <td>
                                        <p>somsri.so.63@ubu.ac.th</p>
                                    </td>
                                    <td><a class="btn btn-warning rounded-pill badge" href="/admin_detail/">รายละเอียด</a></td>
                                </tr>

                                <!-- ลบข้อมูล -->
                                <div class="modal fade" id="Delete" tabindex="-1" aria-labelledby="DeleteuserModal"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="DeleteuserModal">ยืนยันการลบข้อมูล
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex">
                                                    <label class="labels px-2">ชื่อ</label>
                                                    <p>สมศรี</p>
                                                </div>
                                                <div class="d-flex">
                                                    <label class="labels px-2">นามสกุล</label>
                                                    <p>สูงสุดแบบ</p>
                                                </div>
                                                <div class="d-flex">
                                                    <label class="labels px-2">สถานะ</label>
                                                    <p>ผู้ใช้ทั่วไป</p>
                                                </div>
                                                <div class="d-flex">
                                                    <label class="labels px-2">อีเมลล์</label>
                                                    <p>somsri.so.63@ubu.ac.th</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary rounded-pill"
                                                    data-bs-dismiss="modal">ยกเลิก</button>
                                                <button type="button"
                                                    class="btn btn-warning rounded-pill">ยืนยัน</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}